/*---------------------------------------
    Rentals              
  -----------------------------------------*/
  .rental-section {
    /* background-image: url('../images/edward-unsplash-blur.jpg'); */
    background-color: #224D84;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .rental-image {
    border-radius: var(--border-radius-medium);
    display: block;
  }
  
  .rental-text-wrap {
    position: relative;
  }
  
  .rental-text-icon {
    background: var(--primary-color);
    border-radius: 100%;
    font-size: var(--h3-font-size);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
  
  .rental-text-info {
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: var(--border-radius-medium);
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
    padding: 35px;
  }